@model IEnumerable<BusinessLayer.TimeSheet>
@{
    ViewBag.Title = "Index";
}
@RenderPage("~/Shared/_Header.cshtml")
@RenderPage("~/Shared/_Navigation.cshtml")

<script type="text/javascript">
    $(document).ready(function () {
        var today = new Date();
        var dd = ("0" + (today.getDate())).slice(-2);
        var day1 = "01";
        var mm = ("0" + (today.getMonth() + 1)).slice(-2);
        var yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd;
        firstDateofMonth = yyyy + '-' + mm + '-' + day1;
        var tb = ["searchEmployees", "searchInTimeFrom", "searchInTimeTo", "searchOutTimeFrom", "searchOutTimeTo"];

        if (checkCookie(searchInTimeFrom) && checkCookie(searchInTimeTo) && checkCookie(searchOutTimeFrom) && checkCookie(searchOutTimeTo)) {
            $("#searchEmployees").val("");
            $("#searchInTimeFrom, #searchOutTimeFrom").val(firstDateofMonth);
            $("#searchInTimeTo, #searchOutTimeTo").val(today);
        }
        else {
            $.each(tb, function (i, val) {
                $("#" + val).val(getCookie(val));
            });
        }

        $("#tblTimesheet").tablesorter({
            headers: {
                4: {
                    sorter: false
                },
                5: {
                    sorter: false
                }
            },
            widgets: ['zebra']
        })

        $("#TimesheetSubmit").click(function () {
            $.each( tb, function( i, val ) {
                setCookie(val, $("#" + val).val());
            });
        })

        $("#TimesheetReset").click(function () {
            $("#searchEmployees").val("");
            $("#searchInTimeFrom, #searchOutTimeFrom").val(firstDateofMonth);
            $("#searchInTimeTo, #searchOutTimeTo").val(today);
            $.each(tb, function (i, val) {
                setCookie(val, $("#" + val).val());
            });
        })
    });
</script>

<div class="container">
    <h2>Timesheet</h2>
    <div class="timesheet">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
    <table style="border:none !important">
        <tr>
            <td width="15%" align="right">Name: &nbsp; &nbsp;</td>
            <td width="55%" align="left">
                &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                @Html.DropDownList("ddlEmployees", null, "-All Employee-", new { @id = "searchEmployees", @class = "dropdownlist" })
            </td>
        </tr>
        <tr>
            <td align="right">In Time: &nbsp; &nbsp;</td>
            <td align="left">
                From
                <input id="searchInTimeFrom" name="searchInTimeFrom" type="date" class="textbox" />
                To
                <input id="searchInTimeTo" name="searchInTimeTo" type="date" class="textbox" />
            </td>
        </tr>
        <tr>
            <td align="right">Out Time: &nbsp; &nbsp;</td>
            <td align="left">
                From
                <input id="searchOutTimeFrom" name="searchOutTimeFrom" type="date" class="textbox" />
                To
                <input id="searchOutTimeTo" name="searchOutTimeTo" type="date" class="textbox" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input id="TimesheetSubmit" type="submit" value="Search" class="button" />
                &nbsp; &nbsp; &nbsp;
                <input id="TimesheetReset" type="button" value="Reset" class="button" />
            </td>
        </tr>
    </table>
            }
            <br>
        <table id="tblTimesheet">
            <thead>
                <tr>
                    <th width="15%">
                        @Html.DisplayNameFor(model => model.employee.FirstName)
                    </th>
                    <th width="15%">
                        @Html.DisplayNameFor(model => model.employee.LastName)
                    </th>
                    <th width="20%">
                        @Html.DisplayNameFor(model => model.InTime)
                    </th>
                    <th width="20%">
                        @Html.DisplayNameFor(model => model.OutTime)
                    </th>
                    <th width="10%">
                        @Html.DisplayNameFor(model => model.TotalHours)
                    </th>
                    <th width="20%">
                        @Html.DisplayNameFor(model => model.TextBox1)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.employee.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.employee.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OutTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalHours)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TextBox1)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@RenderPage("~/Shared/_Footer.cshtml")
