@model IEnumerable<BusinessLayer.TimeSheet>
@{
    ViewBag.Title = "Index";
}
@RenderPage("~/Shared/_Header.cshtml")
@RenderPage("~/Shared/_Navigation.cshtml")
<script type="text/javascript" src="~/js/timesheet.js"></script>

<div class="container">
    <h2>Timesheet | Table</h2>
    <div class="timesheet">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <table style="border:none !important">
                <tr>
                    <td width="25%" align="right">Name: </td>
                    <td width="5%" align="right"></td>
                    <td width="20%" align="left">
                        @Html.DropDownList("ddlAllEmployees", null, "-All Employee-", new { @id = "searchEmployees", @class = "dropdownlist" })
                        @Html.DropDownList("ddlActiveEmployees", null, "-Active Employee-", new { @id = "searchActiveEmployees", @class = "dropdownlist" })
                        @Html.DropDownList("ddlInactiveEmployees", null, "-Inactive Employee-", new { @id = "searchInactiveEmployees", @class = "dropdownlist" })
                        <br>
                    </td>
                    <td width="3%" align="right"></td>
                    <td width="30%" align="left">
                        @Html.RadioButton("rdbEmployee", "Active", true, new { @id = "rdbActiveEmployee" })
                        Active
                        @Html.RadioButton("rdbEmployee", "Inactive", new { @id = "rdbInactiveEmployee" })
                        Inactive
                        @Html.RadioButton("rdbEmployee", "All", new { @id = "rdbAllEmployee" })
                        All
                    </td>
                </tr>
                <tr>
                    <td align="right">In Time: </td>
                    <td align="right">From</td>
                    <td align="left">
                        <input id="searchInTimeFrom" name="searchInTimeFrom" type="date" placeholder="mm/dd/yyyy" class="textbox" />
                    </td>
                    <td align="right">To</td>
                    <td align="left">
                        <input id="searchInTimeTo" name="searchInTimeTo" type="date" placeholder="mm/dd/yyyy" class="textbox" />
                    </td>
                </tr>
                <tr>
                    <td align="right">Out Time: </td>
                    <td align="right">From</td>
                    <td align="left">
                        <input id="searchOutTimeFrom" name="searchOutTimeFrom" type="date" placeholder="mm/dd/yyyy" class="textbox" />
                    </td>
                    <td align="right">To</td>
                    <td align="left">
                        <input id="searchOutTimeTo" name="searchOutTimeTo" type="date" placeholder="mm/dd/yyyy" class="textbox" />
                    </td>
                </tr>
                <tr>
                    <td colspan="5" align="center">
                        <input id="TimesheetSubmit" type="submit" value="Search" class="button" />
                        &nbsp; &nbsp; &nbsp;
                        <input id="TimesheetReset" type="button" value="Reset" class="button" />'
                        &nbsp; &nbsp; &nbsp;
                        <input id="TimesheetThisMonth" type="button" class="button" />
                        &nbsp; &nbsp; &nbsp;
                        <input id="TimesheetLastMonth" type="button" class="button" />
                    </td>
                </tr>
            </table>
        }
        <br>
        &nbsp; &nbsp; &nbsp;&nbsp;
        <input id="btnExport" type="button" style="background-image:url('../../Image/excel.png');background-size: 100%; width:25px; height:25px; background-color:transparent" />

        <table id="tblTimesheet" >
            <thead>
                <tr>
                    <th width="15%">
                        @Html.DisplayNameFor(model => model.employee.FirstName)
                    </th>
                    <th width="15%">
                        @Html.DisplayNameFor(model => model.employee.LastName)
                    </th>
                    <th width="20%">
                        @Html.DisplayNameFor(model => model.InTime)
                    </th>
                    <th width="20%">
                        @Html.DisplayNameFor(model => model.OutTime)
                    </th>
                    <th width="10%">
                        @Html.DisplayNameFor(model => model.TotalHours)
                    </th>
                    <th width="20%">
                        @Html.DisplayNameFor(model => model.TextBox1)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.employee.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.employee.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OutTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalHours)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TextBox1)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
@RenderPage("~/Shared/_Footer.cshtml")


