@model IEnumerable<BusinessLayer.TimeSheet>
@{
    ViewBag.Title = "Index";
}
@RenderPage("~/Shared/_Header.cshtml")
@RenderPage("~/Shared/_Navigation.cshtml")

<script type="text/javascript">
    $(document).ready(function () {
        var x = document.cookie;
        window.alert(x);
        var today = new Date();
        var dd = ("0" + (today.getDate())).slice(-2);
        var day1 = "01";
        var mm = ("0" + (today.getMonth() + 1)).slice(-2);
        var yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd;
        firstDateofMonth = yyyy + '-' + mm + '-' + day1;

        if (checkCookie(searchInTimeFrom) && checkCookie(searchInTimeTo) && checkCookie(searchOutTimeFrom) && checkCookie(searchOutTimeTo)) {
            $("#searchInTimeFrom").attr("value", firstDateofMonth);
            $("#searchInTimeTo").attr("value", today);
            $("#searchOutTimeFrom").attr("value", firstDateofMonth);
            $("#searchOutTimeTo").attr("value", today);
            alert("ALL NULL");
        }
        else {
            var tb = ["searchInTimeFrom", "searchInTimeTo", "searchOutTimeFrom", "searchOutTimeTo"];
            $.each(tb, function (i, val) {
                $("#" + val).val(getCookie(val));
                //alert("retieve cookie" + val + $("#" + val).val());
            });
        }


        $("#tblTimesheet").tablesorter({
            headers: {
                4: {
                    sorter: false
                },
                5: {
                    sorter: false
                }
            },
            widgets: ['zebra']
        })

        $("#TimesheetSubmit").click(function () {
            var tb=[ "searchInTimeFrom", "searchInTimeTo", "searchOutTimeFrom", "searchOutTimeTo"];
            $.each( tb, function( i, val ) {
                //alert("set cookie"+val +$("#"+val).val());
                setCookie(val, $("#" + val).val());
                //alert("get cookie" +getCookie(val));
            });
        })

        $("#TimesheetReset").click(function () {
            alert("TimesheetReset clicked")
            var tb = ["searchInTimeFrom", "searchInTimeTo", "searchOutTimeFrom", "searchOutTimeTo"];
            $.each(tb, function (i, val) {
                //alert("set cookie"+val +$("#"+val).val());
                deleteAllCookies(val);
                //alert("get cookie" +getCookie(val));
            });
            location.reload(true);
        })
    });
</script>

<div class="container">
    <h2>Timesheet</h2>
    <div class="timesheet">
        <div style="padding-left:30px">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
            <p>
                @Html.Label("Name:")
                @Html.DropDownList("ddlEmployees", null,"-All Employee-",new { @class = "dropdownlist" })
                <br>
                @Html.Label("In Time:  ", new { })
                @Html.Label("From")
                <input id="searchInTimeFrom" name="searchInTimeFrom" type="date" class="textbox" />
                @Html.Label("To")
                <input id="searchInTimeTo" name="searchInTimeTo" type="date" class="textbox" />
                <br>
                @Html.Label("Out Time:  ")
                @Html.Label("From")
                <input id="searchOutTimeFrom" name="searchOutTimeFrom" type="date" class="textbox" />
                @Html.Label("To")
                <input id="searchOutTimeTo" name="searchOutTimeTo" type="date" class="textbox" />
                <br>
            </p>
            <p align="center">
                <input id="TimesheetSubmit" type="submit" value="Search" class="button" />
                &nbsp; &nbsp; &nbsp;
                <input id="TimesheetReset" type="button" value="Reset" class="button" />
            </p>
            }
            <br>
        </div>
        <table id="tblTimesheet">
            <thead>
                <tr>
                    <th width="15%">
                        @Html.DisplayNameFor(model => model.employee.FirstName)
                    </th>
                    <th width="15%">
                        @Html.DisplayNameFor(model => model.employee.LastName)
                    </th>
                    <th width="20%">
                        @Html.DisplayNameFor(model => model.InTime)
                    </th>
                    <th width="20%">
                        @Html.DisplayNameFor(model => model.OutTime)
                    </th>
                    <th width="10%">
                        @Html.DisplayNameFor(model => model.TotalHours)
                    </th>
                    <th width="20%">
                        @Html.DisplayNameFor(model => model.TextBox1)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.employee.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.employee.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OutTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalHours)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TextBox1)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@RenderPage("~/Shared/_Footer.cshtml")
