@model IEnumerable<TimeSheet.Models.tblTimeSheet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblEmployee.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextBox1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextBox2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextBox3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblEmployee.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextBox1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextBox2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextBox3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
