@using System.Web.Mvc.Html;
<!DOCTYPE html>
<html>

    <head>
        <title>@Page.Title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
        <style type="text/css">
 

        </style>
    </head>
    <body>
        <div class="container">
            <div class="navigation">
                <ul>
                    <li>
                        @Html.ActionLink("HOME", "index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("EMPLOYEE", "index", "Employee")
                    </li>
                    <li>    @Html.ActionLink("TIMESHEET", "index", "TimeSheet") 
                        <ul>
                            <li>    @Html.ActionLink("TABLE", "index", "TimeSheet")  </li>
                            <li>    @Html.ActionLink("CHART", "viewChart", "TimeSheet") </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
