@model TimeSheet.Models.tblEmployee

@{
    ViewBag.Title = "Create";
}
@RenderPage("~/Shared/_Header.cshtml")
@RenderPage("~/Shared/_Navigation.cshtml")
<div class="container">
    <h2>Employee | Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset class="fieldset">
            <legend></legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.FirstName)
                <font color="red">*</font>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "textbox" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LastName)
                <font color="red">*</font>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.LastName, null, new { @class = "textbox" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
                <font color="red">*</font>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Email, null, new { @class = "textbox" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </fieldset>
        <br>
        <p align="center">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "button" })
            &nbsp; &nbsp; &nbsp;
            <input type="submit" value="Create" class="button" />
        </p>
    }
</div>
@RenderPage("~/Shared/_Footer.cshtml")