@model TimeSheet.Models.tblEmployee

@{
    ViewBag.Title = "Delete";
}
@RenderPage("~/Shared/_Header.cshtml")
@RenderPage("~/Shared/_Navigation.cshtml")
<div class="container">
    <h2>Employee | Delete</h2>
    <h3>Are you sure you want to delete this?</h3>
    <fieldset class="fieldset">
        <legend></legend>

        @Html.HiddenFor(model => model.EmpID)

        <div class="display-label">
            @Html.DisplayNameFor(model => model.FirstName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FirstName)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.LastName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LastName)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.CreateTime)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreateTime)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.LatestModifiedTime)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LatestModifiedTime)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.del)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.del)
        </div>
    </fieldset>
    <br>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p align="center">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "button" }) 
            &nbsp;&nbsp;&nbsp;
            <input type="submit" value="Delete" class="button"/>
        </p>
    }
</div>
@RenderPage("~/Shared/_Footer.cshtml")