@model TimeSheet.Models.tblEmployee

@{
    ViewBag.Title = "Edit";
}
@RenderPage("~/Shared/_Header.cshtml")
@RenderPage("~/Shared/_Navigation.cshtml")
<div class="container">
    <h2>Employee | Edit</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="fieldset">
        <legend></legend>

        @Html.HiddenFor(model => model.EmpID)

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
            <font color="red">*</font>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "textbox" })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
            <font color="red">*</font>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LastName, new { @class = "textbox" })
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
            <font color="red">*</font>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email, new { @class = "textbox" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        @Html.HiddenFor(model => model.CreateTime)
        @Html.HiddenFor(model => model.LatestModifiedTime)
        @Html.HiddenFor(model => model.del)
    </fieldset>
    <br>
        <p align="center">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "button" })
            &nbsp; &nbsp; &nbsp;
            <input type="submit" value="Save" class="button"/>
        </p>

    }


</div>
@RenderPage("~/Shared/_Footer.cshtml")
