@model TimeSheet.Models.tblTimeSheet

@{
    ViewBag.Title = "CheckOut";
}
@RenderPage("~/Shared/_Header.cshtml")
@RenderPage("~/Shared/_Navigation.cshtml")
<div class="container">
    <h2>Out</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset class="fieldset">
            <legend></legend>

            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.EmpID)

            <div class="display-label">
                Name
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.tblEmployee.FirstName)&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.tblEmployee.LastName)
            </div>

            @Html.HiddenFor(model => model.InTime)
            @Html.HiddenFor(model => model.OutTime)


            <div class="editor-label">
                @Html.LabelFor(model => model.TextBox1)
                <font color="red">*</font>
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.TextBox1, new { @class="textfield" })
                @Html.ValidationMessageFor(model => model.TextBox1)
            </div>
        </fieldset>
        <br>
        <p align="center">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "button" })
            &nbsp;&nbsp;&nbsp;
            <input type="submit" value="Out" class="button" />
        </p>
    }



</div>
@RenderPage("~/Shared/_Footer.cshtml")