@model IEnumerable<TimeSheet.Models.tblEmployee>

@{
    ViewBag.Title = "Index";
}

@RenderPage("~/Shared/_Header.cshtml")
@RenderPage("~/Shared/_Navigation.cshtml")

<script type="text/javascript">
    $(document).ready(function () {
        $("#tblHome").tablesorter({
            headers: {
                2: { sorter: false }
            },
        });

        $("#SearchFirstName").keyup(function () {
            var rows = $("#tblHomeBody").find("tr").hide();
            if (this.value.length) {
                var data = $.trim(this.value).split(" ");
                $.each(data, function (i, v) {
                    $("#tblHomeBody td.col1").filter(function () {
                        return $(this).text().toLowerCase().indexOf(v.toLowerCase()) > -1;
                    }).parent('tr').show();
                });
                $("#SearchLastName").attr('disabled', true);
            }
            else {
                rows.show();
                $("#SearchLastName").attr('disabled', false);
            }
        })

        $("#SearchLastName").keyup(function () {
            var rows = $("#tblHomeBody").find("tr").hide();
            if (this.value.length) {
                var data = $.trim(this.value).split(" ");
                $.each(data, function (i, v) {
                    $("#tblHomeBody td.col2").filter(function () {
                        return $(this).text().toLowerCase().indexOf(v.toLowerCase()) > -1;
                    }).parent('tr').show();
                });
                $("#SearchFirstName").attr('disabled', true);
            }
            else {
                rows.show();
                $("#SearchFirstName").attr('disabled', false);
            } 
        })

        $("#ResetHomeSearch").click(function () {
            $('#SearchFirstName').val('');
            $('#SearchLastName').val('');
            $("#SearchFirstName").attr('disabled', false);
            $("#SearchLastName").attr('disabled', false);
            var rows = $("#tblHomeBody").find("tr").show();
        })
    });
</script>

<div class="container">
    <div class="home">
        <br>
        <p align="center">
            -- Today is @System.DateTime.Now.Date.ToString("d") ,  @System.DateTime.Now.DayOfWeek --
        </p>
        <br>
        <table id="tblHome" class="sortable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <input id="SearchFirstName" type="text" placeholder="First Name" class="textbox"/>
                    </td>
                    <td>
                        <input id="SearchLastName" type="text" placeholder="Last Name" class="textbox" />
                    </td>
                    <td>
                        <input id="ResetHomeSearch" type="button" value="Reset" class="button" />
                    </td>
                </tr>
            </thead>
            <tbody id="tblHomeBody">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col1">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td class="col2">
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @if (item.InOffice == false)
                            {@Html.ActionLink("In", "CheckIn", new { id = item.EmpID }, new { @class = "tblactionlink" });
                            }
                            @if (item.InOffice == true)
                            { @Html.ActionLink("Out", "CheckOut", new { id = item.EmpID }, new { @class = "tblactionlink" });
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@RenderPage("~/Shared/_Footer.cshtml")
