@model IEnumerable<TimeSheet.Models.tblEmployee>

@{
    ViewBag.Title = "Index";
}
@RenderPage("~/Shared/_Header.cshtml")
@RenderPage("~/Shared/_Navigation.cshtml")
<br>
<div class="container">
    <p align="center">
        -- Today is @System.DateTime.Now.Date.ToString("d") ,  @System.DateTime.Now.DayOfWeek --
    </p>
    <br>
    <div class="home">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @if (item.InOffice == false)
                        {@Html.ActionLink("In", "CheckIn", new { id = item.EmpID }, new { @class = "tblactionlink" });
                        }
                        @if (item.InOffice == true)
                        { @Html.ActionLink("Out", "CheckOut", new { id = item.EmpID }, new { @class = "tblactionlink" });
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<br>
<br>
<br>
@RenderPage("~/Shared/_Footer.cshtml")
